/* Reinicio global para evitar desplazamientos */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Evita el scroll horizontal */
  -webkit-text-size-adjust: 100%;
}

#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box; /* Fundamental para que el ancho sea exacto */
}